@font-face {
  font-family: 'Moyenage';
  font-weight: normal;
  font-style: normal;

  src: url('../fonts/moyenage-webfont.eot');
  src: url('../fonts/moyenage-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/moyenage-webfont.woff2') format('woff2'),
  url('../fonts/moyenage-webfont.woff') format('woff'),
  url('../fonts/moyenage-webfont.ttf') format('truetype'),
  url('../fonts/moyenage-webfont.svg#moyenageregular') format('svg');
}
